
.color-red{
    color:red;
}
.color-purple{
    color: rgb(66, 50, 7);
}

.letra-fuente{
    width: 100px;
    height: 100px;
}

.fondo-total{
   
    width: 300px;
    height:300px ;
    left: auto;
    right: auto;
}

.borde-text{
    border: black 7px solid;
    
}

.fondo-pagina{
    background-color: rgb(239,184,16)
}
.fondo-real{   
    background-color: rgb(180,180,180)
 } 

.color-black{
    color: rgb(230, 240, 238);
}

.body-text{
    margin-left:60px ;
    margin-right:0px;
    margin-top:102ppx ;
    margin-bottom:105px ;
}


.margen-text{
    margin-left:62px ;
    margin-right:0px;
    margin-top:100ppx ;
    margin-bottom:102px ;
}

.borde-texto{
    border: rgb(111, 5, 37) 3px solid;
   max-width: 150px;  /* largo  */
    margin-left: 330px;  /* apartar de la pantalla */
    margin-top: 5px; /* para apartar   */
    margin-right:4 ;
    margin-top: 10px;
}

.color-morado{
    color:rgb(73, 141, 9);
}


.borde-textos{
    border: rgb(111, 5, 37) 3px solid;
   max-width: 150px;  /* largo  */
    margin-left: 330px;  /* apartar de la pantalla */
    margin-top: 500px; /* para apartar   */
    margin-right:40px;
    margin-top: 6px;
}